*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 20px auto;
}
.ipinfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}





/* section 1 */

.section1{
    background-color: black;
    color: #6d6f77;
    padding: 20px 30px;
}
.ipinfo{
    margin-top: 20px;
}
.ipinfo p{
    font-size: 20px;
    font-weight: 700;
}
.add{
    color: white;
    font-size: 17px;
    font-weight: 400;
}

/* section 2  */
.section2{
    background-color: #575a85;
   
}
.section2 > h2{
    padding-top: 20px;
    text-align: center;
    color: #b8bccc;
}
.outermap{
    padding: 20px auto;
}
#map{
    padding: 20px auto;
}
#googlemap{
    width: 90%;
    height: 500px;
    margin-top: 20px;
}
/* section 3 */

.section3{
    padding: 20px;
    background-color: black;
    color: #6d6f77;
}
.section3 h2{
    color: #b8bccc;
    text-align: center;
    font-weight: 800;
}
.informations{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 700;
}

/* section4 */

.section4{
    padding: 20px;
    background-color: black;
    color: #6d6f77;
}
.section4 h2{
    color: #b8bccc;
    text-align: center;
    font-weight: 800;
}
#postoffices{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
}
.searchbar{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
#search{
    width: 90%;
    padding: 10px 20px;
    background-color: black;
    color: #b8bccc;
    border: 1px solid #575a85;
    border-radius: 5px;
}
.card{
    background-color: #575a85;
   border-radius: 5px;
    color: #b8bccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}